<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
{% include analytics.html %}
  <meta name="google-site-verification" content="KkVThAZEdaN5a8vVsPqrWxSh81Py9jhgPDgOMnxid1Y" />  
  </head>
  <body>
    <!-- <a id="skip-to-content" href="#content">Skip to the content.</a> -->

    <header class="page-header" role="banner">
      <!--<h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>-->
      <!--<h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>-->
      <!--<h1 class="project-name">{{ "PRIME-RE" }}</h1>-->
      <img img height="300" src="/images/logo_white_header.png" alt="{{ page.title | default: site.title | default: site.github.repository_name }}" class="project-name" />
      <h2 class="project-tagline">{{ "An open resource exchange platform for non-human primate neuroimaging" }}</h2>
      
      <nav class="main-nav">
        <a href="/" class="btn">Home</a>
        <a href="/resources" class="btn">Resources</a>
        <!--<a href="https://github.com/PRIME-RE/prime-re.github.io/wiki/" class="btn" target="_blank">Wiki</a>-->
        <a href="/tutorials" class="btn">Tutorials</a>
        <a href="/contribute" class="btn">Contribute</a>    
        <!--<a href="/testimonials" class="btn">Testimonials</a>-->    
        <a href="/community" class="btn">Community</a>
        <a href="/contact" class="btn">Contact</a>
      </nav>
      
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn" >Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">PRIME-RE is an initiative of the <a href="http://fcon_1000.projects.nitrc.org/indi/indiPRIME.html">PRIME-DE consortium</a>. Follow us on <a href="https://twitter.com/PRIMatE_RE"><img src="images/twitter.png" alt="Twitter"></a></span>
      </footer>
    </main>
  </body>
</html>
